@-moz-document domain("github.com") {
/* https://isabella-theme.github.io/ */
body {
    --colorBlack: #101013;
    --colorBlue: #6bc6ef;
    --colorGreen: #77dd77;
    --colorPink: #f772ad;
    --colorPurple: #b19cd9;
    --colorRed: #be2a18;
    --colorWhite: #f7f7f7;
    --colorYellow: #fdfd96;
    --colorComment: #69696d;
    --colorAddition: #004700bd;
    --colorDeletion: #830d0dcc;
    --colorHl: #be4318;
    --colorHlFaded: #b18879;
    --colorHlFg: var(--colorWhite);
    --colorBg: #333335;
    --colorBgDarker: #232325;
    --colorBgFaded: #444445e8;
    --colorFg: #d1d1d1;
    --colorFgBolded: white;
    --colorFgFaded: #87878c;
    --colorFgFadedMore: #68686c;
    --colorAc: #101013;
    color: var(--colorFg);
    background-color: var(--colorBg);
}
/* global */
a,.btn-link {color: var(--colorHl);}
a.branch-name {color: var(--colorFg);}
.branch-name {background-color: var(--colorAc);}
.muted-link {color: var(--colorFgFadedMore) !important;}
.link-gray {color: var(--colorFgFaded) !important;}
.link-gray-dark {color: var(--colorFgBolded) !important;}
.link-hover-blue:hover {color: var(--colorHl) !important;}
.muted-link:hover,.link-gray:hover,.link-gray-dark:hover {
    color: var(--colorHl) !important;
}
.text-blue {color: var(--colorHl) !important;}
.text-gray {color: var(--colorFgFaded) !important;}
.text-gray-light {color: var(--colorFgFadedMore) !important;}
.text-gray-dark {color: var(--colorFgBolded) !important;}
.text-emphasized {color: var(--colorFgBolded);}
.bg-white {background-color: var(--colorAc) !important;}
.bg-blue-light {background-color: var(--colorAc) !important;}
.bg-gray {background-color: var(--colorBg) !important;}
.bg-gray-light {background-color: var(--colorBg) !important;}
.border,.border-top,.border-right,.border-bottom,.border-left {
    border-color: var(--colorBgDarker) !important;
}
.toolbar-item {color: var(--colorFg);}
.toolbar-item .menu-target {color: var(--colorFg);}
.toolbar-item .menu-target:focus,.toolbar-item:focus,
.toolbar-item .menu-target:hover,.toolbar-item:hover {
    color: var(--colorHl);
}
/* github nav bar */
.Header {background-color: var(--colorAc);}
.jump-to-field-active {color: var(--colorFg) !important;}
.jump-to-suggestions-results-container .navigation-item {
    border-color: var(--colorBg);
}
.jump-to-suggestions-path {color: var(--colorFg);}
.jump-to-suggestions-results-container .navigation-focus .jump-to-suggestions-path,
.jump-to-suggestions-results-container [aria-selected=true] .jump-to-suggestions-path {
    background-color: var(--colorHl);
}
/* content */
.flash {
    color: var(--colorHlFg);
    background-color: var(--colorHl);
}
.Box-header {
    background-color: var(--colorAc);
    border-color: var(--colorAc);
}
.Box,.Box-row {border-color: var(--colorBgDarker);}
.Box {background-color: var(--colorBgDarker);}
.Box-body {border-color: var(--colorBgDarker);}
.Box-row--focus-gray.navigation-focus {background-color: var(--colorBgFaded);}
.blankslate {
    background-color: var(--colorBgDarker);
    border-color: var(--colorBgDarker);
}
.news div.message,.news li blockquote {color: var(--colorFgFaded);}
.table-list-header {
    background-color: var(--colorBgDarker);
    border-color: var(--colorBgDarker);
}
.table-list-header-meta {color: var(--colorFg);}
.table-list-bordered,.table-list-bordered {
    color: var(--colorFg);
    border-color: var(--colorBgDarker);
}
.filter-bar {
    background-color: var(--colorBgDarker);
    border-color: var(--colorBgDarker);
}
/* markdown */
.markdown-body h1,.markdown-body h2 {border-color: var(--colorBgFaded);}
.markdown-body table tr {background-color: var(--colorBg);}
.markdown-body table td,.markdown-body table th {border-color: var(--colorAc);}
.markdown-body table tr:nth-child(2n) {background-color: var(--colorBgFaded);}
/* repo top */
.repohead h1,.repohead h1 .octicon {color: var(--colorFg);}
.pagehead-actions>li {color: var(--colorFg);}
.social-count {
    color: var(--colorFg);
    background-color: var(--colorBg);
}
.social-count:hover {color: var(--colorHl);}
/* repo nav */
.repohead.experiment-repo-nav {background-color: var(--colorAc);}
.pagehead {border-color: var(--colorAc);}
.reponav-item.selected {
    color: var(--colorFg);
    background-color: var(--colorBg);
    border-color: var(--colorHl) var(--colorBg) var(--colorBg);
}
.reponav-item,.reponav-item .octicon,.reponav-item .Counter {
    color: var(--colorFg);
}
.reponav-item:focus,.reponav-item:focus .octicon,.reponav-item:focus .Counter,
.reponav-item:hover,.reponav-item:hover .octicon,.reponav-item:hover .Counter {
    color: var(--colorFgFaded);
}
/* repo home */
.topic-tag {background-color: var(--colorBgDarker);}
.topic-tag:hover {background-color: var(--colorAc);}
.overall-summary {border-color: var(--colorAc);}
.numbers-summary .nolink,.numbers-summary a,.numbers-summary .octicon {
    color: var(--colorFg);
}
.numbers-summary a:hover,.numbers-summary a:hover .octicon {
    color: var(--colorHl);
}
.repository-lang-stats ol.repository-lang-stats-numbers li .lang {
    color: var(--colorFgBolded);
}
.repository-lang-stats ol.repository-lang-stats-numbers li>a,
.repository-lang-stats ol.repository-lang-stats-numbers li>span {
    color: var(--colorFg);
}
.repository-lang-stats-graph {border-color: var(--colorAc);}
.commit-tease {
    color: var(--colorFg);
    background-color: var(--colorAc);
    border-color: var(--colorAc);
}
.commit-tease-sha {color: var(--colorFgBolded);}
.ellipsis-expander:hover,.hidden-text-expander a:hover {
    background-color: var(--colorBgFaded);
}
.commit-desc pre {color: var(--colorFgFaded);}
.team-mention,.user-mention {color: var(--colorFg);}
.file-wrap {border-color: var(--colorAc);}
table.files td.icon .octicon-file-directory,table.files td.icon {
    color: var(--colorFg);
}
table.files,table.files td {
    background-color: var(--colorBgDarker);
    border-color: var(--colorBgFaded);
}
table.files td.message,table.files td.age {color: var(--colorFg);}
table.files td.message a.link-gray {color: var(--colorFg) !important;}
table.files td.message a.link-gray:hover {color: var(--colorHl) !important;}
table.files tr.navigation-focus td,table.files tr[aria-selected=true] td {
    background-color: var(--colorBgFaded);
}
table.files tr.up-tree a:hover {background-color: var(--colorBgFaded);}
/* repo code */
.breadcrumb,.breadcrumb strong.final-path {color: var(--colorFg);}
.blob-num {
    color: var(--colorFg);
    background-color: var(--colorAc);
}
.blob-num:hover {color: var(--colorFgFaded);}
.blob-code-inner {color: var(--colorWhite);}
td.blob-code-inner:hover {background-color: var(--colorBgFaded);}
.pl-smw,.pl-v {color: var(--colorBlue);}
.pl-c1,.pl-s .pl-v {color: var(--colorPurple);}
.pl-e,.pl-en {color: var(--colorGreen);}
.pl-ent,.pl-k {color: var(--colorPink);}
.pl-c {color: var(--colorComment);}
.pl-pds,.pl-s,.pl-s .pl-pse .pl-s1,.pl-sr,.pl-sr .pl-cce,.pl-sr .pl-sra,
.pl-sr .pl-sre {
    color: var(--colorYellow);
}
.pl-mi {color: var(--colorWhite);}
/* community */
.Subhead {border-color: var(--colorAc);}
.community-checklist .progress {background-color: var(--colorAc);}
.community-checklist .progress-bar {
    background: linear-gradient(90deg,var(--colorHl),#c5e300,#28a745);
}
/* commits */
.commit-group-title {color: var(--colorFg);}
.commit-group-title .octicon-git-commit {
    color: var(--colorAc);
    background-color: transparent;
}
.commits-listing:before {background-color: var(--colorBgDarker);}
.table-list-bordered .table-list-cell:first-child,
.table-list-bordered .table-list-cell:last-child {
    border-color: var(--colorAc);
}
.commits-list-item.navigation-focus,.commits-list-item[aria-selected=true] {
    background-color: var(--colorBgFaded);
}
.commit .commit-title,.commit .commit-title a {color: var(--colorFg);}
.commit .commit-title .issue-link {color: var(--colorHl);}
.commits-list-item .commit-desc pre {color: var(--colorFg);}
.commits-list-item .commit-author,.commits-list-item .commit-meta {
    color: var(--colorFgFaded);
}
.signed-commit-badge {border-color: var(--colorAc);}
/* repo code commits compare changes */
.range-editor {
    background-color: var(--colorBgDarker);
    border-color: var(--colorBgDarker);
}
.range-editor-icon {color: var(--colorFg);}
.file {border-color: var(--colorBgDarker);}
.file-header {
    background-color: var(--colorAc);
    border-color: var(--colorAc);
}
.blob-num-expandable .directional-expander {color: var(--colorFg);}
.blob-num-expandable .diff-expander:hover,
.blob-num-expandable .directional-expander:hover {
    color: var(--colorHlFg);
    background-color: var(--colorHl);
}
.blob-expanded .blob-code,.blob-expanded .blob-num {
    background-color: var(--colorBgFaded);
}
.blob-code-hunk {background-color: var(--colorBgFaded);}
.blob-code-addition {background-color: var(--colorAddition);}
.blob-code-deletion {background-color: var(--colorDeletion);}
.blob-expanded+tr:not(.blob-expanded) .blob-code,
.blob-expanded+tr:not(.blob-expanded) .blob-num,
tr:not(.blob-expanded)+.blob-expanded .blob-code,
tr:not(.blob-expanded)+.blob-expanded .blob-num {
    border-color: var(--colorAc);
}
/* repo issues */
.table-list-header-toggle .btn-link {color: var(--colorFg);}
.table-list-header-toggle .btn-link:hover {color: var(--colorFgBolded);}
.table-list-header-toggle .btn-link.selected,
.table-list-header-toggle .btn-link.selected:hover {
    color: var(--colorFgBolded);
}
/* repo new issue */
.composer.composer-responsive .timeline-comment {
    border-color: var(--colorBgDarker);
}
.related-issue-item.navigation-focus,.similar-issue-item.navigation-focus {
    background-color: var(--colorBgFaded);
}
.composer.composer-responsive .timeline-comment:after,
.composer.composer-responsive .timeline-comment:before {
    display: none;
}
.upload-enabled textarea {border-bottom: initial;}
.upload-enabled.focused {box-shadow: initial;}
.upload-enabled.focused .drag-and-drop {border-color: var(--colorBg);}
.drag-and-drop {
    color: var(--colorFg);
    background-color: var(--colorBg);
    border-color: var(--colorBg);
}
.new-discussion-timeline .previewable-comment-form .comment-body {
    border-color: var(--colorAc);
}
.tabnav-extra {color: var(--colorFg);}
a.tabnav-extra:hover {color: var(--colorHl);}
.discussion-sidebar-item+.discussion-sidebar-item {
    border-color: var(--colorBgDarker);
}
/* issues threads */
.discussion-timeline:before {background-color: var(--colorBgDarker);}
.discussion-timeline-actions {
    background-color: var(--colorBg);
    border-color: var(--colorBgDarker);
}
.timeline-comment {background-color: var(--colorBgDarker);}
.timeline-comment-wrapper,.timeline-comment.current-user {
    border-color: var(--colorBgDarker);
    border-top: initial;
    border-bottom: initial;
}
.timeline-comment-wrapper .timeline-comment.current-user:after,
.timeline-comment-wrapper .timeline-comment.current-user:before {
    border-right-color: var(--colorAc);
}
.timeline-comment.current-user .timeline-comment-header {
    color: var(--colorFg);
    background-color: var(--colorAc);
    border-color: var(--colorAc);
}
.timeline-comment.current-user .timeline-comment-label {
    color: var(--colorFgFaded);
    border-color: var(--colorBg);
}
.timeline-comment-action {color: var(--colorFg);}
.timeline-comment-action:focus,.timeline-comment-action:hover {
    color: var(--colorHl);
}
.commit-icon .octicon {background-color: var(--colorBg);}
.commit-icon {color: var(--colorFg);}
.discussion-item-icon {
    color: var(--colorFg);
    background-color: var(--colorBg);
    border-color: var(--colorBgDarker);
}
.discussion-item+.discussion-item,.discussion-item-review+.discussion-item {
    border-color: var(--colorBgDarker);
}
.discussion-item .author {color: var(--colorFg) !important;}
.discussion-item-header {color: var(--colorFgFaded);}
.timeline-commits .commit-message>code a {color: var(--colorFg);}
.timeline-commits .commit-message>code a:hover {color: var(--colorHl);}
.commit-id {color: var(--colorFg);}
.commit-id:hover {color: var(--colorHl);}
.timeline-comment {border-color: var(--colorBgDarker);}
.timeline-comment-wrapper>.timeline-comment:after,
.timeline-comment-wrapper>.timeline-comment:before,
.timeline-new-comment .timeline-comment:after,
.timeline-new-comment .timeline-comment:before {
    border-right-color: var(--colorBgDarker);
}
.discussion-sidebar-heading {color: var(--colorFg);}
.discussion-sidebar-toggle:hover {color: var(--colorHl);}
.discussion-sidebar-item {color: var(--colorFgFaded);}
.thread-subscription-status {background-color: var(--colorBg);}
/* repo labels */
.labels-list-action {color: var(--colorFg);}
.label-description.text-gray {color: var(--colorFg) !important;}
/* repo wiki */
.gh-header {background-color: var(--colorBg);}
.gh-header-meta {
    color: var(--colorFg);
    border-color: var(--colorAc);
}
.new-discussion-timeline .previewable-comment-form .comment-form-head.tabnav {
    background-color: var(--colorBgDarker);
    border-color: var(--colorBgDarker);
}
.tabnav-tab.selected {color: var(--colorFg);}
.tabnav-tab.selected {
    background-color: var(--colorBg);
    border-color: var(--colorBg);
}
.tabnav-tab:focus,.tabnav-tab:hover {color: var(--colorFgBolded);}
/* repo insights */
/* pulse */
.summary-stats li {
    color: var(--colorFg);
    border-color: var(--colorBgFaded);
}
.summary-stats li .num {color: var(--colorFgBolded);}
.summary-stats li svg {fill: var(--colorFg);}
/* contributors */
.tint-box {background-color: var(--colorBgDarker);}
#contributors-master text,#contributors text {fill: var(--colorFg);}
.capped-card-content {background-color: var(--colorBgDarker);}
/* menus,buttons,and forms */
input::placeholder {color: var(--colorFg);}
.ellipsis-expander,.hidden-text-expander a {
    color: var(--colorFg);
    background-color: var(--colorAc);
}
.input-contrast:focus {background-color: var(--colorAc);}
.btn {
    color: var(--colorFg);
    background-color: var(--colorAc);
    background-image: linear-gradient(-180deg,var(--colorBgDarker),var(--colorAc) 90%);
}
.btn-octicon {color: var(--colorFg);}
.btn-octicon:hover {color: var(--colorHl);}
.btn.hover,.btn:hover {
    background-color: var(--colorBg);
    background-image: initial;
}
.btn.disabled,.btn:disabled,.btn.selected,.btn:active,[open]>.btn {
    color: var(--colorFgFaded);
    background-color: var(--colorBgDarker);
}
.btn-outline.selected,.btn-outline:active,.btn-outline:hover,
[open]>.btn-outline {
    border-color: var(--colorHl);
}
.subnav-search-context .btn {color: var(--colorFg);}
.subnav-item {
    color: var(--colorFg);
    border-color: var(--colorAc);
}
.subnav-item:focus,.subnav-item:hover {background-color: var(--colorBgDarker);}
.menu {
    background-color: var(--colorBgDarker);
    border-color: var(--colorBgDarker);
}
.menu-item {border-color: var(--colorBgDarker);}
.menu-item:hover {background-color: var(--colorBgFaded);}
.menu-item.selected {
    color: var(--colorFg);
    background-color: var(--colorBgDarker);
}
.menu-item.selected:before {background-color: var(--colorHl);}
.select-menu-modal {
    color: var(--colorFg);
    background-color: var(--colorBgDarker);
    box-shadow: initial;
}
.select-menu-filters {background-color: var(--colorBgDarker);}
.select-menu-text-filter:first-child:last-child {
    border-color: var(--colorBgDarker);
}
.select-menu-text-filter input {border-color: var(--colorAc);}
.select-menu-item {
    background-color: var(--colorBgDarker);
    border-color: var(--colorBg);
}
.select-menu-action {color: var(--colorFg);}
.select-menu-divider,.select-menu-header {
    background-color: var(--colorBgDarker);
    border-color: var(--colorBg);
}
.select-menu-divider,.select-menu-header .select-menu-title {
    color: var(--colorFg);
}
.select-menu-item.selected,details-menu .select-menu-item[aria-checked=true],
details-menu .select-menu-item[aria-selected=true] {
    color: var(--colorFg);
}
.select-menu-item.navigation-focus,
.select-menu-item.navigation-focus .description-inline,
.select-menu-item.navigation-focus.select-menu-action,
.select-menu-item.navigation-focus.selected,.select-menu-item:focus,
.select-menu-item:focus .description-inline,
.select-menu-item:focus.select-menu-action,.select-menu-item:focus.selected,
.select-menu-item:hover,.select-menu-item:hover .description-inline,
.select-menu-item:hover.select-menu-action,.select-menu-item:hover.selected,
.select-menu-item[aria-checked=true]:focus,
.select-menu-item[aria-checked=true]:hover,
.select-menu-item[aria-selected=true] .description-inline,
.select-menu-item[aria-selected=true].select-menu-action,
.select-menu-item[aria-selected=true]:focus,
.select-menu-item[aria-selected=true]:hover {
    color: var(--colorHlFg);
    background-color: var(--colorHl);
}
.form-control,.form-select {
    color: var(--colorFg);
    background-color: var(--colorBgDarker);
    border-color: var(--colorBgDarker);
}
.form-control.focus,.form-control:focus,.form-select.focus,.form-select:focus {
    border-color: var(--colorHl);
    box-shadow: inherit;
}

}

@-moz-document domain("raw.githubusercontent.com") {
/* raw.githubusercontent.com */
body {
    /* doesn't accept variables for some reason */
    color: #d1d1d1;
    background-color: #232325;
}
}

@-moz-document domain("help.github.com") {
/* help.github.com */
body > div:nth-child(1) {background-color: var(--colorAc) !important;}
.text-blue-mktg {color: var(--colorHl) !important;}
body > div:nth-child(1) .width-full .py-2.py-md-0.d-md-inline-block details summary svg {
    stroke: var(--colorHl) !important;
}
.markdown-body .highlight pre,.markdown-body pre {
    background-color: var(--colorAc);
}
}
