/* https://isabella-theme.github.io/Isabella/ */
body {
    --colorBlack: black;
    --colorWhite: white;
    --colorHl: #be4318;
    --colorHlFaded: #b18879;
    --colorHlFg: var(--colorWhite);
    --colorBg: #333335;
    --colorBgDarker: #232325;
    --colorFg: #d1d1d1;
    --colorFgBolded: white;
    --colorFgFaded: #87878c;
    --colorAc: #101013;
    color: var(--colorFg);
    background-color: var(--colorBg);
}
a,a:hover {color: var(--colorHl);}
.bg-white {background-color: var(--colorAc) !important;}
.bg-gray {background-color: var(--colorBg) !important;}
.border,.border-top,.border-right,.border-bottom,.border-left {
    border-color: var(--colorBgDarker) !important;
}
.Header {background-color: var(--colorAc);}
.jump-to-suggestions-results-container .navigation-item {
    border-color: var(--colorBg);
}
.jump-to-suggestions-path {color: var(--colorFg);}
.jump-to-suggestions-results-container .navigation-focus .jump-to-suggestions-path,
.jump-to-suggestions-results-container [aria-selected=true] .jump-to-suggestions-path {
    background-color: var(--colorHl);
}
.Box,.Box-row {border-color: var(--colorBgDarker);}
.Box {background-color: var(--colorBgDarker);}
.select-menu-modal {
    color: var(--colorFg);
    background-color: var(--colorBgDarker);
    box-shadow: initial;
}
.select-menu-item {
    background-color: var(--colorBgDarker);
    border-color: var(--colorBg);
}
.select-menu-action {color: var(--colorFg);}
.select-menu-divider,.select-menu-header {
    background-color: var(--colorBgDarker);
    border-color: var(--colorBg);
}
.select-menu-divider,.select-menu-header .select-menu-title {
    color: var(--colorFg);
}
.select-menu-item.selected,details-menu .select-menu-item[aria-checked=true],
details-menu .select-menu-item[aria-selected=true] {
    color: var(--colorFg);
}
.select-menu-item.navigation-focus,
.select-menu-item.navigation-focus .description-inline,
.select-menu-item.navigation-focus.select-menu-action,
.select-menu-item.navigation-focus.selected,.select-menu-item:focus,
.select-menu-item:focus .description-inline,
.select-menu-item:focus.select-menu-action,.select-menu-item:focus.selected,
.select-menu-item:hover,.select-menu-item:hover .description-inline,
.select-menu-item:hover.select-menu-action,.select-menu-item:hover.selected,
.select-menu-item[aria-checked=true]:focus,
.select-menu-item[aria-checked=true]:hover,
.select-menu-item[aria-selected=true] .description-inline,
.select-menu-item[aria-selected=true].select-menu-action,
.select-menu-item[aria-selected=true]:focus,
.select-menu-item[aria-selected=true]:hover {
    color: var(--colorHlFg);
    background-color: var(--colorHl);
}
.form-control,.form-select {
    color: var(--colorFg);
    background-color: var(--colorBgDarker);
    border-color: var(--colorBgDarker);
}
.form-control.focus,.form-control:focus,.form-select.focus,.form-select:focus {
    border-color: var(--colorHl);
    box-shadow: inherit;
}
